PORT=number # 3000
SERVER_URL=string # http://localhost:3000
CLIENT_URL=string # http://localhost:3000

JWT_SECRET=string # jwt-secret
JWT_VERIFY_SECRET=string # jwt-verify
JWT_RESET_SECRET=string # jwt-reset

DATABASE_URL=string # mongodb://localhost:27017/

GOOGLE_CLIENT_ID=string # google-client-id
GOOGLE_CLIENT_SECRET=string # google-client-secret

EMAIL_HOST=string # smtp.gmail.com
EMAIL_PORT=string # 587
EMAIL_USER=string # user@mail.com
EMAIL_PASS=string # password
